body{
    background-color:#101010;
    margin:0;
}

a{
    text-decoration: none;
}

.nav-bar{
    display: flex;
    align-items: center;
    background: #151515;
    width: 100%;
    height: 100px;

}

.serch{
    display: flex;
    position: absolute;
    left: 75%;
}

.se{
    width: 200px;
    height: 30px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border: none;
    background: #202020;
    color: white;
    border: none;
}

.serch-icon{
    background-color: yellow;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;


}

.d1{
    text-align:center;
    background-color:#131313;
    height: 60px;
    margin-left: 150px;
    

}

.home{
    color: white;
    position: absolute;
    left: 55%;
    display: flex;
    font-size: 0.85rem;
}

.home i{
    color: yellow;
    padding-right: 5px;
}

.about{
    display: inline-block;
    color: white;
    position: absolute;
    left: 62%;
    font-weight: lighter;
    font-size: 0.85rem;
    

}

.about i{
    color: yellow;
    padding-right: 3px;
}

.bug{
    color: white;
    position: absolute;
    left: 68%;
    font-size: 0.85rem;
}

.bug i{
    color: yellow;
    padding-right: 3px;
}


.p1{
    color:white;
    text-align:center;
    font-size:3rem;
}
.p2{
    color: rgb(195, 195, 195);
    text-align:center;
    font-size:1rem;
    line-height:20px;
}
.pc{
    display:flex;
    margin-left: 100px;
    margin-right: 100px;
    height: 1000px;
    justify-content:space-evenly;
    align-items:center;
    flex-wrap:wrap;
}
.cc{            
    flex-basis:200;

}
img{
    border-radius:7px;
}
.p3{
    color:white;
    font-weight:bold;
    text-align:left;
    line-height:1px;
    text-decoration:none;
    font-size:12px;
}
.p4{
    color:yellow;
    font-weight:bolder;
    background-color:#202020;
    text-align:left;
    width:40px;
    height:20px;
    padding-left:3px;
    font-size:12px;
}

h1{
    color:white;
    font-weight:300;
    font-size:20px;
}
.img1{
    float:left;
}


.d3{
    background-color: #202020;
    margin-top: 150px;
    margin-left: 30px;
    margin-right: 30px;
    height: 200px;
    border-radius: 20px;
}

.p5{
    position: absolute;
    left: 40%;
    color: aliceblue;
    font-size: 1.5rem;


}

.p6{
    position: absolute;
    left: 45%;
    top: 215%;
    color: aliceblue;
}

.srech2{

    position: absolute;
    left: 35%;
    top: 225%;
    width: 520px;
    height: 40px;
    background-color: #151515;
    border: none;
    color: white;
    
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;

}

.serch-icon2{
    position: absolute;
    left: 69%;
    top: 225%;
    height: 40px;
    width: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: yellow;
    border: none;

    color: black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.d2{
    position: absolute;
    width: 150px;
    left: 10%;
    margin-top: 30px;
}

.pc2{
    display:flex;
    margin-left: 100px;
    margin-right: 100px;
    height: 600px;
    justify-content:space-around;
    align-items:center;
    flex-wrap:wrap;
}

.cc2{
    flex-basis:200;
}

.fcontainer{
    height: 80px;
    width: 100%;
    background: #151515;
    display: flex;
    align-items: center;
    font-size: 0.85rem;
}

.ppp{
    color: white;
    margin-left: 70px;
    margin-right: 25px;
    
}

.ppp2{
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;
    margin-right: 10px;
}
.m1 a{
    text-decoration: none;
    color: aliceblue;
}

.m1 i{
    color: yellow;
    margin-right: 10px;
}

.m2{
    position: absolute;
    left: 18%;
}

.m2 a{
    text-decoration: none;
    color: aliceblue;
}

.m2 i{
    color: yellow;
    margin-right: 5px;
}

.and{
    color: white;
    font-size: 1.2rem;
    margin-left: 10px;
    margin-right: 5px;
}

.ppp3{
    color: white;
    position: absolute;
    left: 90%;
    font-size: 0.95rem;
}
.ppp4{
    color: white;
    position: absolute;
    left: 91.2%;
}