body{
    background-color:#101010;
    margin:0;
}

.nav-bar{
    display: flex;
    align-items: center;
    background: #151515;
    width: 100%;
    height: 100px;

}

.serch{
    display: flex;
    position: absolute;
    left: 75%;
}

.se{
    width: 200px;
    height: 30px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border: none;
    background: #202020;
    color: white;
    border: none;
}

.serch-icon{
    background-color: yellow;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.d1{
    text-align:center;
    background-color:#131313;
    height: 60px;
    margin-left: 150px;
    

}

.home{
    color: white;
    position: absolute;
    left: 55%;
    display: flex;
    font-size: 0.85rem;
}

.home i{
    color: yellow;
    padding-right: 5px;
}

.about{
    display: inline-block;
    color: white;
    position: absolute;
    left: 62%;
    font-weight: lighter;
    font-size: 0.85rem;
    

}

.about i{
    color: yellow;
    padding-right: 3px;
}

.bug{
    color: white;
    position: absolute;
    left: 68%;
    font-size: 0.85rem;
}

.bug i{
    color: yellow;
    padding-right: 3px;
}


